---
---
:root {
	--text-color: black;
	--background-color: white;
	--accent-color: #ACDA88;
	--link-color: #3E7321;
	--link-hover-color: hsl(99, 45%, 37%);
	--error-color: hsl(18, 53%, 69%);
	--box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}
@media (prefers-color-scheme: dark) {	
	:root {
		--text-color: white;
		--background-color: #181818;
		--accent-color: #3E7321;
		--link-color: #ACDA88;
		--link-hover-color: hsl(94, 53%, 79%);
		--error-color: hsl(18, 45%, 29%);
		--box-shadow: 0 3px 6px 0 rgba(0,0,0,0.35);
	}
	footer img {
		filter: drop-shadow(0.7px 0.7px white);
	}
	footer img:hover {
		filter: brightness(1.2) drop-shadow(0.7px 0.7px #fff) drop-shadow(0.7px 0.7px 2px #fff4) !important;
	}
}
@media (prefers-reduced-motion) {
	* {
		transition: none !important;
	}
}
* {
	position: relative;
}
body {
	accent-color: var(--accent-color);
	color: var(--text-color);
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
}
body, textarea {
	font-family: "Times New Roman", Times, "Tinos", "FreeSerif", "Liberation Serif", serif;
}
[lang="en"] [lang]:not([lang="en"]) {
	font-style: italic;
}
header {
	padding-top: 10px;
	>* {
		align-items: center;
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	a {
		text-decoration: none;
	}
	h1 {
		color: var(--text-color);
		display: inline-block;
		letter-spacing: 3px;
		margin: 0;
		padding: 17px;
	}
}
h1 {
	font-size: 60px;
	line-height: 60px;
}
header, footer {
	text-align: center;
}
nav {
	display: flex;
	font-size: 20px;
	font-weight: bold;
	margin: 15px auto 5px;
	max-width: 720px;
	text-align: center;
	width: 100%;

	ul {
		display: inline-flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			flex: 1 0 auto;
			margin: 10px 20px;
		}
	}

	a:not(:hover) {
		text-decoration: none;
	}
}
main {
	flex-grow: 1;
}
section, article, details {
	box-shadow: var(--box-shadow);
	color: var(--text-color);
}
section, article, details {
	max-width: 700px;
	margin: 15px auto;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
h2, h2 a, h3, h4, h5, h6, summary {
	font-weight: bold;
	margin: 0 0 15px 0;
}
h2, summary {
	font-size: 24px;
}
summary {
	cursor: pointer;
}
details:not([open])>summary {
	margin: 0;
}
p:first-child {
	margin-top: 0;
}
p:last-child {
	margin-bottom: 0;
}
a {
	color: var(--link-color);
}
a:hover {
	color: var(--link-hover-color);
}
.error {
	background-color: var(--error-color);
	box-shadow: var(--box-shadow);
	padding: 5px;
}
.error::before {
	content: "âŒ";
}
textarea {
	background-color: var(--background-color);
	border: 1px solid var(--text-color);
	color: var(--text-color);
	display: block;
	font-size: 12pt;
	margin: 10px;
	padding: 5px;
	width: 100%;
}
#map-canvas {
	height: 400px;
	width: 100%;
}
footer {
	align-items: center;
	display: flex;
	justify-content: center;
	> * {
		padding: 20px;
	}
	img:hover {
		filter: brightness(2.4);
	}
}
